.text-updater-node {
    height: 35px;
    border: 1px solid rgb(255, 237, 135);
    padding: 5px;
    border-radius: 5px;
    background: white;
  }
  
  .text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
  }
  
  .text-updater-node-dd {
    top: 24px;
    right: -15px;
    width: 6px;
    height: 10px;
    border-radius: 2px;
    background-color: #778899;
  }