:root {
	--spaceVertical: 50px;
    --spaceHorizontal: 30px
	/* --text: #333;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; */
}

body {
    background-color: black;
}

.site-header {
    color: white;
    float: left;
    margin-right: 28px;
    display: 'flex';
}

.site-header img {
    height: 40px;
    margin-right: 16px;
}

.site-header span {
    font-size: 20px;
    font-weight: 700;
    vertical-align: top;
    
}

.index-style {
    display: flex;
    height: calc(100vh - 64px);
    color: white;
    text-align: center;
    max-width: calc(99vw);
    position: relative;    
}
.index-style h1 {
    color: white;
    font-weight: 650;
    font-size: 43px;
    word-spacing: .7cm;
}

.index-style h2 {    
    font-weight: 650;
    font-size: 30px;
    word-spacing: .7cm;
}

.index-style button {
    margin: 10px 0px;
    width: 100%;
}

.api-style {
    height: calc(100vh - 64px - var(--spaceVertical) - 10px );
    margin: var(--spaceVertical) var(--spaceHorizontal);
    Max-width: calc(99vw);
    position: relative;    
}

.api-style h1 {
    font-weight: 650;
    font-size: 43px;
    text-align: center;
    letter-spacing: 5px;

    border-bottom: 3px solid #ffffff;
    padding-bottom: calc( var(--spaceVertical) - 10px);
    margin-bottom: calc( var(--spaceVertical) );
}
